.my-orders {
  margin: 15px 0px;
}

.my-orders .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.my-orders-order {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
  align-items: center;
  gap: 30px;
  font-size: 14px;
  padding: 10px 20px;
  color: #454545;
  border: 1px solid #005f64;
  min-width: 100%;
}

.my-orders-order p span {
  color: #005f64;
}

.my-orders-order p b {
  font-weight: 500;
  color: #454545;
}

.my-orders-order button {
  border: none;
  padding: 12px 0px;
  border-radius: 5px;
  background-color: #005f6449;
  cursor: pointer;
  color: #454545;
}

/* Media Queries */
@media (max-width: 1200px) {
  .my-orders-order {
    grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1.5fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 992px) {
  .my-orders-order {
    grid-template-columns: 0.5fr 2fr 1fr 2fr;
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .my-orders-order {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    font-size: 12px;
  }

  .my-orders-order img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: auto;
  }

  .my-orders-order button {
    padding: 8px 0px;
  }
}

@media (max-width: 576px) {
  .my-orders-order {
    grid-template-columns: 1fr;
    gap: 10px;
    font-size: 12px;
    text-align: center;
  }

  .my-orders-order p {
    margin: 5px 0;
  }

  .my-orders-order button {
    width: 100%;
    padding: 10px 0px;
  }
}
